<main class="app-body">
  <% 
    let builder = [];
    let page_content = page.content;

    while(page_content.indexOf("<") != -1) {
      let tag = page_content.substring(page_content.indexOf("<") + 1, page_content.indexOf(">"));
      if (tag.substring(0, 2) == "h1") {
        let html_str = page_content.substring(page_content.indexOf("<h1") + 3);
        let content = html_str.substring(html_str.indexOf(">") + 1, html_str.indexOf("</h1>"))
        builder.push({
          type: 'title',
          content: content
        })
        page_content = page_content.substring(page_content.indexOf("</h1>") + 5);
      } else if (tag.substring(0, 1) == "a") {
        let html_str = page_content.substring(page_content.indexOf("<a") + 2);
        let content = html_str.substring(html_str.indexOf(">") + 1, html_str.indexOf("</a>"))
        
        let link_str = html_str.substring(html_str.indexOf("href=\"") + 6)
        let link = link_str.substring(0, link_str.indexOf("\""))

        builder.push({
          type: 'card',
          name: content,
          content: [],
          link: link,
          img: "",
        })

        page_content = page_content.substring(page_content.indexOf("</a>") + 4);
      } else if (tag.substring(0, 3) == "img") {
        let html_str = page_content.substring(page_content.indexOf("<img"), page_content.indexOf(">") + 1);
        
        let src_str = html_str.substring(html_str.indexOf("src=\"") + 6)
        let src = src_str.substring(0, src_str.indexOf("\""))

        builder[builder.length - 1].img = src;

        page_content = page_content.substring(page_content.indexOf(">") + 1);
      } else if (tag.substring(0, 2) == "ul") {
        let html_str = page_content.substring(page_content.indexOf("<ul") + 2);
        let list_content = html_str.substring(html_str.indexOf(">") + 1, html_str.indexOf("</ul>"))
        if (builder[builder.length - 1].type == 'card') {
          while (list_content.indexOf("<li>") != -1) {
            let content = list_content.substring(list_content.indexOf("<li>") + 4, list_content.indexOf("</li>"));
            builder[builder.length - 1].content.push(content);
            list_content = list_content.substring(list_content.indexOf("</li>") + 5);
          }
        }
        page_content = page_content.substring(page_content.indexOf("</ul>") + 5);
      } else {
        page_content = page_content.substring(page_content.indexOf(">") + 1);
      }
    }
  %>
  <% for (el in builder) { %>
    <% if (builder[el].type == 'title') { %>
      <% if (el > 0 && builder[el-1].type == 'card') {%>
        </div>
      <% } %>
      <h1 class="card-title"><%- builder[el].content %></h1>
    <% } else if (builder[el].type == 'card') { %>
      <% if (el > 0 && builder[el-1].type == 'title') {%>
        <div class="flex-box card-wrapper">
      <% } %>
      <a class="card" href="<%= builder[el].link %>">
        <% if (builder[el].img.length > 0) { %>
          <img class="card-image" src="/<%= builder[el].img %>">
        <% } %>
        <h2 class="card-name"><%= builder[el].name %></h2>
        <% for (idx in builder[el].content) { %> 
          <p><%= builder[el].content[idx] %></p>
        <% } %>
        </a>
    <% } %>
  <% } %>
</main>