<main class="app-body">
  <% let filtered_tags = site.tags.filter(tag => {
    let relevant = false; tag.posts.each(post => {if (post.event == "Workshop" 
    || post.event == "Tutorial") relevant = true;});
    return relevant;
  }) %>
  <script>
    $(document).ready(el => {
      $('input:radio[name="tag-select"]').change((rad) => {
        console.log(rad.target)
        if ($(rad.target).is(':checked')) {
          $('div[class="tag-wrapper"]').each((idx, el) => {
            $(el).hide();
          })
          $(`#${rad.target.value}`).show();
        }
      })

      let tag_idx = 0;

      $('label').each(function(i, obj) {
        if (decodeURI(window.location.hash.substring(1)) == obj.textContent) {
          tag_idx = i;
        }
      });

      $(`#tag-cloud-${tag_idx}`).prop("checked", true);
      $(`#tag-${tag_idx}`).show();
    })
  </script>
  <h1 id="tag-title">Workshop and Tutorial Tags</h1>
  <div id="tag-cloud">
    <% filtered_tags.map(function(tag, index) { %>
    <input type="radio" name="tag-select"
      value="tag-<%= index %>"
      id="tag-cloud-<%= index %>"
      >
    <label class="tag<%= Math.round(Math.random()*3) %>"
      for="tag-cloud-<%= index %>"><%= tag.name %></label>
    <% }) %>
  </div>
  <% filtered_tags.map(function(tag, index){ %>
  <div class="tag-list" id="tag-list">
    <div class="tag-wrapper" id="tag-<%= index %>">
      <h3 class="tag-name"><%= tag.name %></h3>
      <% tag.posts.filter(post => {return post.event == "Workshop" || post.event == "Tutorial"}).map(function(post) { %>
      <ul class="tag-preview">
        <li>
          <a href="<%- config.root %><%- post.path %>"><%- post.title || "Untitled" %></a>
        </li>
      </ul>
      <% }) %>
    </div>
  </div>
  <% }) %>
</main>